*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eaeaea;
	height: 6165px;
}
body::-webkit-scrollbar{
	width: 10px;
	background: #eaeaea;
}
body::-webkit-scrollbar-thumb{
	width: 10px;
	background: #d2d2d2; 
}
.logo{
	margin-top: 250px;
	margin-bottom: 119px;
	height: 159px;
	text-align: center;
}
header{
	margin: 0 auto;
	margin-bottom: 86px;
	width: 1120px;
	height: 123px;
	background-color: #f8f8f8;
	box-shadow: 0px 0px 20px -12.5px black;
}
.top{
	margin: 0 auto;
	margin-bottom: 85px;
	width: 1120px;
	height: 438px;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 20px -12.5px black;
}
.recipes{
	margin: 0 auto;
	margin-bottom: 87px;
	width: 1120px;
	height: 373px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.recipes_2{
	margin: 0 auto;
	width: 1120px;
	height: 438px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.info{
	margin-top: 140px;
	margin-bottom: 77px;
	display: flex;
	justify-content: center;
}
.error, .author{
	width: 518px;
	height: 518px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.author{
	margin-left: 83px;
}
.bottom{
	display: flex;
	margin-bottom: 101px;
	justify-content: center;
}
.b_left{
	width: 289px;
	height: 1049px;
}
.b_center{
	margin-left: 96px;
	width: 290px;
	height: 1049px;
}
.b_right{
	margin-left: 58px;
	width: 290px;
	height: 1049px;
}
.blog{
	margin-bottom: 48px;
	width: 289px;
	height: 349px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.target{
	width: 289px;
	height: 471px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.filtre{
	width: 290px;
	height: 427px;
	margin-bottom: 48px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.tags{
	width: 290px;
	height: 160px;
	margin-bottom: 47px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.calendar{
	width: 290px;
	height: 367px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.popular{
	width: 290px;
	height: 349px;
	margin-bottom: 48px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.TimeLine{
	width: 290px;
	height: 430px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.register{
	display: flex;
	margin-bottom: 125px;
	justify-content: center;
}
.login{
	width: 328px;
	height: 406px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.sign_in{
	width: 328px;
	height: 535px;
	margin-left: 87px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.comment_post{
	width: 839px;
	height: 187px;
	margin: 0 auto;
	margin-bottom: 47px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
.comment_blog{
	width: 839px;
	height: 761px;
	margin: 0 auto;
	margin-bottom: 44px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;	
}
.navigation{
	width: 839px;
	height: 92px;
	margin: 0 auto;
	margin-bottom: 150px;
	background-color: #ffffff;
	box-shadow: 0px 0px 20px -12.5px black;
}
footer{
	width: 1120px;
	height: 180px;
	margin: 0 auto;
	background-color: #2f2f2f;
}